.review-card{
    background-color: rgb(190, 173, 173);
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 16px;
}

.carousel-indicators{
    display: none;
}

